fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
passlib[bcrypt]   # Pour hacher les mots de passe
python-jose[cryptography] # Pour générer les tokens de sécurité
python-multipart  # Pour le formulaire de login
email-validator