<ion-app>
  <ion-split-pane contentId="main-content" when="lg">
    
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        
        <div class="menu-header">
          <h2>Conforméo</h2>
          <p>Pilotage BTP</p>
        </div>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item button (click)="navigateTo(p.url)" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-item lines="none">
            <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
            <ion-label color="danger">Déconnexion</ion-label>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet>
    </div>

  </ion-split-pane>
</ion-app>