<ion-app>
  <ion-split-pane contentId="main-content" when="(min-width: 1200px)">
    
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header">
          <h2>Conforméo</h2>
          <p>Pilotage BTP</p>
        </div>

        <ion-list id="inbox-list">
          <ion-item *ngFor="let p of appPages" 
                    button="true" 
                    (click)="navigateTo(p.url)" 
                    lines="none" 
                    detail="false" 
                    [class.selected]="isUrlActive(p.url)">
            <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list id="labels-list">
          <ion-item lines="none" button (click)="logout()">
            <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
            <ion-label color="danger">Déconnexion</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>