<ion-content [fullscreen]="true">

  <div class="start-screen" *ngIf="!photoPath">
    <div class="scanner-frame"></div> <div class="scan-instructions">
      <h2>Smart Scan</h2>
      <p>Visez le tas de déchets pour estimer le volume.</p>
    </div>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="success" (click)="startSmartScan()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div class="result-screen" *ngIf="photoPath" [style.background-image]="'url(' + photoPath + ')'">
    
    <div class="overlay"></div>

    <div class="ar-frame">
      <div class="corner top-left"></div>
      <div class="corner top-right"></div>
      <div class="corner bottom-left"></div>
      <div class="corner bottom-right"></div>
      
      <div class="ar-tag">
        <span class="tag-title">{{ scanResult.type }}</span>
        <span class="tag-value">{{ scanResult.volume }} m³</span>
      </div>
    </div>

    <div class="actions-bar">
      <ion-button fill="solid" color="light" (click)="photoPath = undefined">
        <ion-icon name="close" slot="start"></ion-icon> Refaire
      </ion-button>
      <ion-button fill="solid" color="success" (click)="saveScan()">
        <ion-icon name="checkmark" slot="start"></ion-icon> Enregistrer
      </ion-button>
    </div>

  </div>

</ion-content>