.bg-light { --background: #f4f6f8; }

.team-list {
  background: transparent;
  padding-top: 10px;
}

ion-item {
  --background: white;
  margin-bottom: 1px; // Petit espace blanc
}

ion-avatar {
  display: flex; align-items: center; justify-content: center;
  color: white; font-weight: bold; font-size: 18px;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}