.bg-light { --background: #f4f6f8; }

.team-list {
  background: transparent;
  padding-top: 10px;
}

ion-item {
  --background: white;
  margin-bottom: 2px;
  --padding-start: 10px;
}

ion-avatar {
  display: flex; align-items: center; justify-content: center;
  background: #3880ff; color: white;
  font-weight: bold; font-size: 18px;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-right: 15px;

  &.admin { background: #ffc409; } // Jaune pour les admins
}

.me-tag {
  font-size: 11px; color: #888; font-weight: normal; margin-left: 5px;
}

.role-tag {
  font-size: 12px; color: #666; margin-top: 2px;
  &.admin-text { color: var(--ion-color-warning); font-weight: 600; }
}

.mb-15 {
  margin-bottom: 15px;
  --border-radius: 8px;
}