.login-content { --background: #1e3c72; }
.login-container {
  height: 100%; display: flex; flex-direction: column; justify-content: center; padding: 20px;
}
.logo {
  text-align: center; color: white; margin-bottom: 40px;
  h1 { font-weight: 900; font-size: 36px; margin: 0; }
  p { letter-spacing: 2px; text-transform: uppercase; opacity: 0.8; margin: 0; }
}