// 1. Fond de la page
ion-content {
  --background: #000000; // Fond noir total
  --color: #ffffff;
}

// 2. Les boites de saisie (On force un gris bien visible)
ion-item {
  --background: #333333 !important; // Gris foncé visible
  --color: #ffffff !important;      // Texte du label en blanc
  
  border: 1px solid #555555;        // Bordure grise
  border-radius: 8px;
  margin-bottom: 15px;
  
  // Espace interne pour que ce soit pas collé
  --padding-start: 10px;
}

// 3. Le texte qu'on tape à l'intérieur
ion-input {
  --color: #ffffff !important;             // Texte tapé en BLANC
  --placeholder-color: #aaaaaa !important; // Texte d'aide en gris clair
  font-size: 16px;
}

// 4. Le bouton
ion-button {
  margin-top: 20px;
  --background: #3880ff; // Bleu standard
  --color: white;
}