<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Nouveau Chantier</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form (ngSubmit)="save()">
    <ion-list>
      
      <ion-item>
        <ion-input 
          label="Nom du chantier" 
          label-placement="stacked" 
          [(ngModel)]="chantier.nom" 
          name="nom" 
          placeholder="Taper le nom ici...">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Client" 
          label-placement="stacked" 
          [(ngModel)]="chantier.client" 
          name="client" 
          placeholder="Taper le client ici...">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Adresse" 
          label-placement="stacked" 
          [(ngModel)]="chantier.adresse" 
          name="adresse" 
          placeholder="Taper l'adresse ici...">
        </ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding-top">
      <ion-button expand="block" type="submit" [disabled]="!chantier.nom">
        Valider la création
      </ion-button>
    </div>
  </form>

</ion-content>