<ion-header>
  <ion-toolbar>
    <ion-title>Nouveau Chantier</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form (ngSubmit)="save()">
      
      <div class="cover-photo-section" (click)="takeCoverPhoto()">
        <img *ngIf="coverPhotoWebPath" [src]="coverPhotoWebPath" class="cover-preview" />
        <div *ngIf="!coverPhotoWebPath" class="placeholder">
          <ion-icon name="camera" size="large"></ion-icon>
          <p>Ajouter une photo de couverture</p>
        </div>
      </div>
      
    <ion-list>
      
      <ion-item>
        <ion-input 
          label="Nom du chantier" 
          label-placement="stacked" 
          [(ngModel)]="chantier.nom" 
          name="nom" 
          type="text"
          placeholder="Ex: Résidence Les Fleurs">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Client" 
          label-placement="stacked" 
          [(ngModel)]="chantier.client" 
          name="client" 
          type="text"
          placeholder="Ex: Mairie de Lyon">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Adresse" 
          label-placement="stacked" 
          [(ngModel)]="chantier.adresse" 
          name="adresse" 
          type="text"
          placeholder="Ex: 12 rue de la République">
        </ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding-top">
      <ion-button expand="block" type="submit" [disabled]="!chantier.nom">
        Valider la création
      </ion-button>
    </div>
  </form>

</ion-content>